<div class="dragon">
<div class="knight-dragon-info">
	<h3 class="fighting-header">Time To Face The Dragon!</h3>
	<b>
	{{knight.name}}'s HP: {{knight.hp}}
	</b>
	<br />
	<b>
	Potions in Inventory: {{knight.potions.length}}
	</b>
	<br />
	<b>
	Dragon's HP: {{dragonHP}}
	</b>
	<div ng-show="hitPoints">
			<b class="fighting-header">{{hit}}</b>
	</div>

	<div ng-show="blockDragon">
		<b class="fighting-header">{{blocked}}</b>
	</div>

	<div ng-show="drinkPotion">
		<b  ng-if="knigt.potions.length > 0" class="fighting-header">{{potionResult}}</b>
		<b ng-if="knight.potions.length <= 0" class="fighting-header"> No Potions in Inventory</b>
	</div>
</div>



	<div class="knight-actions">
	<h2>Select your Action</h2>
	<ul>
		<b><li><a ng-click="fight()">Fight Dragon</a></li>
		<br/>
		<li><a ng-click="block()">Block Dragon</a></li>
		<br/>
		<li><a ng-click="potion()">Take Potion</a></li>
		<br/>
		<li><a ng-click="run()">Run From Dragon</a></li></b>
	</ul>
		
	</div>

	
<div class='row'>
	<div class='col-sm-6 col-sm-offset-8'> 
		<img class='fighting-dragon' src="styles/images/fighting-dragon.png" />
	</div>
</div>


</div>