<div class="dragon">
<div class="knight-dragon-info">
	<h3 class="fighting-header">Time To Face The Dragon!</h3>
	<b>
	{{knight.name}}'s HP: {{knight.hp}}
	</b>
	<br />
	<b>
	Potions in Inventory: {{knight.potions.length}}
	</b>
	<br />
	<b>
	Dragon's HP: {{dragonHP}}
	</b>
</div>



	<div class="knight-actions">
	<h2>Select your Action</h2>
	<ul>
		<li><a ng-click="fight()">Fight Dragon</a></li>
		<li><a ng-click="block()">Block Dragon</a></li>
		<li><a ng-if="knight.potions.length > 0" ng-click="potion()">Take Potion</a></li>
		<li><a ng-click="run()">Run From Dragon</a></li>
	</ul>
	</div>

	<div ng-show="hitPoints">
	<b class="fighting-header">{{hit}}</b>
	
</div>

<div ng-show="blockDragon">
	<b class="fighting-header">{{blocked}}</b>

</div>

<div ng-show="drinkPotion">
	<b class="fighting-header">{{potionResult}}</b>
</div>
<img class="fighting-dragon" src="styles/images/fighting-dragon.png" />
</div>