body, html {
	overflow-y: hidden;
	max-height: 800px;
	background-color: gray;
}
.forest {
	background-image: url("images/forest.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
 	min-width: 100%;
 	min-height: 850px;
 	margin-top: -25px;
 	padding: 50px 25px;
}

.intro {
	background-image: url("images/intro.png");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
 	min-width: 100%;
 	min-height: 850px;
 	margin-top: -25px;
 	padding: 50px 25px;

}

.intro-text {
	 color: white;
 	 text-align: center;
}
.intro-knight-button {
	padding-left: 500px;
	padding-top: 100px;
}

.knight-name {
	color: black;
}

.forest-font {
	color: white;
}

.beggar-img {
	height: 350px;
	width: 350px;
}

.click-roll:hover {
	cursor: pointer;
}

.roll-die {
	height: 100px;
	width: 100px;
}

li {
	list-style: none;
}
.forest-knight {
	display: inline-block;
}
.knight-info {
	color: yellow;
	float: right;
	display: inline-block;
}

.forest-info {
	clear: both;
}


.successful-knight{
	padding: 0px 200px;
	height: 500px;
	width: 850px;
	margin-right: 200px;

}

/*.success-message {
	padding-left: 150px;
}*/
.dragon {
	background-image: url("images/dragon-cave.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
	min-width: 100%;
 	height: 650px;
 	margin-top: -25px;
 	padding: 50px 25px;
 	color: white;
}
li a {
	cursor: pointer;
	color: yellow;
	text-decoration: none;
	font-weight: 155;
}

li a:hover{
	cursor: pointer;
	color: #5AE996;	
	text-decoration: none;
}

.fighting-header {
	color: yellow;
}
.knight-dragon-info {
	background-color: rgba(8, 117, 16, .6);
	display: inline-block;
	line-height: 40px;
	font-size: 18px;
}

.knight-dragon-info b {
	margin-left: 12px;
}

.knight-actions {
	background-color: rgba(8, 117, 16, .6);
	display: inline-block;
	float: right;
	text-align: center;
	padding: 5px;
}

.fighting-dragon {
	
margin-top: 100px;
margin-left: -100px;
}

.defeated-knight {
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
  	background-position: center;
  	background-attachment: fixed;
 	min-width: 100%;
 	min-height: 850px;
 	margin-top: -25px;
 	padding: 50px 25px;
}

.success-button {
	margin-left: 400px;
}

.defeat-image {
	max-width: 100%;
}

.burnt-knight {
	margin-top: 35px;
}

.knight-success {
	background-color: white;
}

